@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #721818 16.62%, #a86b4c 85.61%);
}

.cabecalho-full{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}
.cabecalho-img{
    height: 100px;
}
.cabecalho-nav {
    display: flex;
    gap: 32px;
}
.cabecalho-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 18px;
    text-decoration: none;
}

.conteudo{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}
.conteudo-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-main-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-main-escrito-t{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.conteudo-main-escrito-s{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.conteudo-main-b {
    background-color: #c9b180;
    width: 150px;
    height: 60px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}
.conteudo-main-b:hover{
    background-color: rgb(236, 214, 196, 0.53);
}

.botoes{
    flex-direction: row;
}

.conteudo-main-img{
    height: 430px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-t{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.conteudo-secundario-p {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFF2E7;
}

.footer{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}
.footer-img {
    height: 150px;
    display: block;
    margin: 0 auto;
}